@{
    ViewData["Title"] = "¡Bienvenido!";
}

<div class="text-center alert alert-success">
    <h1 class="display-4">¡Bienvenido al Módulo Producto! 👋🏻</h1>
    <h2>Seleccione alguna de las opciones: <a asp-controller="Productos" asp-action="Index">Productos</a> o Venta</h2>
</div>
