@model Modulo_Producto.Models.Producto

@{
    ViewData["Title"] = "Nuevo Producto";
}

<h1 class="text-center"><span class="highlight">Nuevo Producto</span></h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="CodigoBarra" class="control-label"></label>
                <input asp-for="CodigoBarra" class="form-control" />
                <span asp-validation-for="CodigoBarra" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PrecioCosto" class="control-label"></label>
                <input asp-for="PrecioCosto" class="form-control" />
                <span asp-validation-for="PrecioCosto" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PrecioMayoreo" class="control-label"></label>
                <input asp-for="PrecioMayoreo" class="form-control" />
                <span asp-validation-for="PrecioMayoreo" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="PrecioVenta" class="control-label"></label>
                <input asp-for="PrecioVenta" class="form-control" />
                <span asp-validation-for="PrecioVenta" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Impuestos" class="control-label"></label>
                <input asp-for="Impuestos" class="form-control" />
                <span asp-validation-for="Impuestos" class="text-danger"></span>
            </div>
            <div class="form-group mb-2 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TieneInventario" /> @Html.DisplayNameFor(model =>
                    model.TieneInventario)
                </label>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CantidadActual" class="control-label"></label>
                <input asp-for="CantidadActual" class="form-control" />
                <span asp-validation-for="CantidadActual" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Minimo" class="control-label"></label>
                <input asp-for="Minimo" class="form-control" />
                <span asp-validation-for="Minimo" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="Agregar" class="btn btn-primary" />
                <a class="btn btn-warning" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
